@mixin transform($value){
	transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-webkit-transform: $value;
}
@mixin transform-origin($value){
	transform-origin: $value;
	-moz-transform-origin: $value;
	-ms-transform-origin: $value;
	-webkit-transform-origin: $value;
}